*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/home.png);
}

.d_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.top{
    display: flex;
    justify-content: space-around;
}

.ancients{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ancients img{
    width: 250px;
    margin-right: 10px;
}

.ancients img.active_img{
    border: 5px solid red;
}

.btn_levels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn_levels button{
    margin-bottom: 20px;
    border: 3px solid purple;
    color: purple;
    background: transparent;
    padding: 10px;
}

.colods{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.counts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.count2 p,
.count3 p,
.count p{
    color: rgba(255, 0, 0, 0.684);
    margin-bottom: 10px;
}

.count2,
.count3,
.count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.count_col{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;align-items: center;justify-content: center;
    background-color: red;
    margin-bottom: 10px;
    color: #fff;
}

.count_col1{
    background-color: green;
}

.count_col3{
    background-color: blue;
}

.colod_hide_img img{
    width: 250px;
}